.login-username{
  flex: 1 1 60%;
}
.login-button{
  flex: 1 0;
}
.login-username-text--container{
  display: table;
  height: 100%;
}
.login-username-text{
  display: table-cell;
  vertical-align: middle;
}
.login-email--icon {
  margin: auto;
  display: block;
}
.bottom-container{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-direction: row;
}