$number-color : #0E5A8A;

.n, .n-disabled{
  display: inline;
  padding: 0 0.1em !important;
  color: $number-color;
  font-weight: bold;
}
.n-disabled{
  display: inline;
  padding: 0 0.1em !important;
  color: #202B33;
  font-weight: bold;
}
.n:hover{
  cursor: pointer;
  background-color: $number-color;
  color: $page-color;
}