.extended-tools-container{
  height: 100%;
}
.rules-container{
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
  background-color: $rule-color;
}
.tools-home-button{
  width: 100%;
  text-align: center;
}
.message-button--login-screen{
  position: fixed;
  top : 0;
  margin: $y-margin $x-margin-portrait;
  width: $process-width-portrait;
}
.message-window--colors{
  background-color: $blue2;
  color: white;
}
.message-window--input-field{
  margin-top: 0.5vh;
}
.message-window--text-area{
  width: 100%;
  display: block;
}


@media (min-width:1023px){

  .message-button--login-screen{
    position: fixed;
    top : 0;
    left: 0;
    margin: $y-margin $process-margin-landscape;
    width: $process-width-landscape;
  }
}