@import "../../node_modules/@blueprintjs/core/lib/scss/variables";
.auto-margin{
  margin: auto;
}
.App{

}
button:focus, .page-tool--button:focus,.page-tool-menu-button:focus, .page-tool-cross:focus{
  outline: none;
}
.inline {
  display: inline-block;
}
.closable{
  position: relative;
}
.closable-content{
  position: absolute;
  max-height: 95%;
  width: 100%;
  top: 5%;
}
.closable-close-button{
  position: absolute;
  height: 4%;
  width: 4%;
  top : 1%;
  left: 95%;
}

$page-color : #FFFDFB;
$content-width-portrait : 96vw;

$x-margin-portrait : 1vw;
$y-margin: 1vh;

$tool-height-portrait : 5vh;

$base-height : 100vh;
$base-width : 100vw;
$tool-top-portrait : $base-height - $tool-height-portrait;
$close-button-right-landscape : $content-width-portrait + $x-margin-portrait;

.page-tool--button{
  flex: 0 0 40%;
}
.page-tool-menu-button{
  flex: 0 0 10%;
}
.page-tool-cross{
  flex: 0 0 10%;
}

  .page{
    width: 100vw;
    height: 100vh;
    padding: $tool-height-portrait+$y-margin $x-margin-portrait $y-margin $x-margin-portrait;
    background-color: $page-color;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .page-content{
    width: $content-width-portrait;
    margin: $y-margin $x-margin-portrait;
  }
  .close-button{
    position: absolute;
    left: $close-button-right-landscape;
    top: $y-margin;
    transform: translate(-100%,50%);
  }
  .page-tool{
    padding: 0 0.2vw 0.2vh 0.2vw;
    background-color: $page-color;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: fixed;
    width: 100vw;
    top: 0;
    height: $tool-height-portrait;
  }


$content-width-landscape : 50vw;
$x-margin-landscape : 25vw;
$tool-height-landscape : 4vh;
$close-button-right-landscape : $content-width-landscape + $x-margin-landscape;
@media (min-width:1023px){
  .page{
    width: 100vw;
    height: $base-height;
    padding: $tool-height-landscape  $x-margin-landscape $y-margin $x-margin-landscape;
    background-color: $page-color;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .close-button{
    position: absolute;
    left: $close-button-right-landscape;
    top: $tool-height-landscape;
    transform: translate(-100%,50%);
  }
  .page-tool{
    padding: 0 0.2vw;
    background-color: $page-color;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: $content-width-landscape;
    margin: 0 $x-margin-portrait ;
    height: $tool-height-landscape ;
    top: 0;
    position: fixed;
  }
  .page-content{
    width: $content-width-landscape;
    margin: $y-margin 0;
  }
  .page-tool-extension{
    position: fixed;
    top: 0;
    left: 0;
    width: $x-margin-landscape - 1vw;
    margin: 0;
    height: 100vh;
  }
}